# ls /sys/class/tty/ttyUSB* -l
# set the udev rule

# use for usb2can
# ACTION=="add",KERNELS=="3-4.1:1.0",SUBSYSTEMS=="usb",MODE:="0777",SYMLINK+="usbDbus"
# ACTION=="add",KERNELS=="3-4.2:1.0",SUBSYSTEMS=="usb",MODE:="0777",SYMLINK+="usbReferee"

# use for ecat
#ACTION=="add",KERNELS=="3-4.2:1.0",SUBSYSTEMS=="usb",MODE:="0777",SYMLINK+="usbDbus"
#ACTION=="add",KERNELS=="3-4.1:1.0",SUBSYSTEMS=="usb",MODE:="0777",SYMLINK+="usbReferee"

#udevadm info -a -n /dev/ttyACM* | grep -E "idVendor|idProduct|bInterfaceNumber"
# use for new serial
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d2", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEMS=="usb", ATTRS{bInterfaceNumber}=="02", MODE:="0666", SYMLINK+="usbReferee"
